.form__label {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #49485E;
  display: block;
  margin: 0px 0px 4px 0px;
}

.required {
  display: inline-block;
  position: absolute;
  height: 4px;
  width: 4px;
  background-image: url("/src/images/required.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
